/.mypy_cache
/.venv
.DS_Store
.vscode/settings.json
client/__pycache__/client.cpython-312.pyc
server/__pycache__/echo_server.cpython-312.pyc
server/__pycache__/utils.cpython-312.pyc
scanners/__pycache__/client.cpython-312.pyc
scanners/__pycache__/network_scanner.cpython-312.pyc
scanners/__pycache__/nmap.cpython-312.pyc
scanners/__pycache__/scanning_client.cpython-312.pyc
scanners/__pycache__/server_scanner.cpython-312.pyc
.vscode

node_modules
.svelte-kit
